@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

body {
  background-color: #ccdcff;
  font-family: "Mate SC", serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.picker {
  font-size: 1.2rem;
  text-decoration: underline;
  margin-right: 5vmin;
}

.cities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.cities a {
  color: black;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
}

.cities p {
  font-size: 1.2rem;
  margin-right: 5vmin;
}

.city {
  display: flex;
}

.city-name {
  font-size: 3rem;
  margin: 60px 0 0;
  text-align: center;
}

.App {
  min-height: 110vh;
  margin: 30px auto;
  max-width: 95%;
}

.WeatherCard {
  display: grid;
  gap: 20px;
  grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr;
  grid-template-rows: [row1-start] 100px [row2-start] 100px [row3-start] 100px [row4-start] 100px [row5-start] 100px;
  margin: 2rem 0;
  text-align: center;
}

.currentTemp,
.weather-type,
.cloudiness,
.highlow,
.wind,
.humidity {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
}

.currentTemp {
  display: flex;
  grid-column: col1-start/col3-start;
  grid-row: row1-start / row6-start;
  flex-direction: column;
  text-align: center;
}

.currentTemp strong {
  font-size: 8rem;
  margin-bottom: 2rem;
}

.weather-type strong,
.highlow strong,
.wind strong {
  font-size: 2.5em;
}

.cloudiness strong,
.humidity strong {
  font-size: 3em;
}

.weather-type {
  grid-column: col3-start/col4-start;
  grid-row: row1-start / row3-start;
}

.cloudiness {
  grid-column: col3-start/col4-start;
  grid-row: row3-start / row5-start;
  margin: -3px 0 20px;
}

.highlow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-column: col3-start/col4-start;
  grid-row: row5-start / row6-start;
  margin: -5px 0 18px;
}

.wind {
  grid-column: col4-start/col5-start;
  grid-row: row4-start / row6-start;
}

.humidity {
  grid-column: col4-start/col5-start;
  grid-row: row1-start / row4-start;
  margin-bottom: -2px;
}

.WeatherImageWrapper {
  font-size: 120px;
}

@media (min-width: 456px) and (max-width: 770px) {
  body {
    font-size: 17px;
  }

  .cities {
    flex-direction: column;
  }

  .city {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .currentTemp strong {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .weather-type strong,
  .cloudiness strong,
  .highlow strong,
  .wind strong,
  .humidity strong {
    font-size: 1.5rem;
  }
}

@media (max-width: 456px) {
  body {
    font-size: 16px;
    margin-bottom: 0;
  }

  .city-name {
    margin-bottom: 1rem;
  }

  .App {
    height: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .WeatherCard {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .currentTemp,
  .weather-type,
  .cloudiness,
  .highlow,
  .wind,
  .humidity {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    border: none;
    margin: 0 0 2rem;
  }

  .picker {
    text-align: center;
  }

  .cities {
    flex-direction: column;
  }

  .city {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-height: 400px) {
  .App {
    height: auto;
    width: 100vw;
  }
}
