body {
  font-size: 18px;
}

.App {
  margin: 70px auto;
  max-width: 80%;
}

.Title {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0;
}

.WeatherCard {
  border: 2px solid black;
  border-radius: 20px;
  padding: 1rem 2rem;
}

.currentTemp {
  font-size: 2rem;
  text-align: left;
}

.WeatherCard:not(:first-child) {
  text-align: right;
}
